<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhongjh.libpedometerstoday">

    <application>

        <!-- 开机自启动广播 -->
        <receiver
            android:name="com.zhongjh.libpedometerstoday.PedometersTodayBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>


</manifest>
